h1 {
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */
  text-align: center;  /* only this works */
  color: green;
}
button {
  align-items: center;
  align-content: center;

}

.demo-class {
  text-align: center;
}

.list-class {
  justify-items: center;
}