h1 {
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */
  text-align: center;  /* only this works */
  color: green;
}
button {
  align-items: center;
  align-content: center;

}

.demo-class {
  text-align: center;
}

.list-class {
  justify-items: center;
}

.button-class {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,auto);
  align-items: center;
  justify-content: center;

  margin: 20mm;
  gap: 20px;

}
.my-button {
  grid-row: 2;     /* place in row 2 */
}

.App {
  text-align: center;      /*align text inside elements */
}